/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    /* color */
    --clr-primary: #0079ff;
    --clr-primary-active: #60abff;
    --clr-font-color-1: #697c9a;
    --clr-font-color-2: #4b6a9b;
    --clr-font-color-3: #2b3442;
    --clr-font-color-4: #f74646;
    --clr-font-color-5: #222731;
    --clr-bg-1: #f6f8ff;
    --clr-bg-2: #fefefe;

    /* font-family */

    --ff-space-mono: 'Space Mono', monospace;
}

[data-theme='dark'] {
    /* color */
    --clr-primary: #0079ff;
    --clr-font-color-1: white;
    --clr-font-color-2: white;
    --clr-font-color-3: white;
    --clr-font-color-4: #f74646;
    --clr-font-color-5: #90a4d4;
    --clr-bg-1: #141d2f;
    --clr-bg-2: #1e2a47;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-bg-1);
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    width: 730px;
}

.header__title {
    font-family: var(--ff-space-mono);
    font-size: 1.625rem;
    font-weight: 700;
}

.mode {
    display: flex;
    align-items: center;
    color: var(--clr-font-color-1);
}

.mode:hover {
    cursor: pointer;
    filter: brightness(0.4);
}

.mode__text {
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-family: var(--ff-space-mono);
    font-weight: 700;
    letter-spacing: 2.5px;
    padding-right: 1rem;
}

.mode__icon {
    width: 20px;
    height: 20px;
    background-image: url(./assets/icon-moon.svg);
    background-repeat: no-repeat;
}

/* search */

.search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 730px;
    height: 69px;
    background-color: var(--clr-bg-2);
    border-radius: 15px;
    padding: 0 0.625rem 0 2rem;
    /* box-shadow: 5px 5px 50px black; */
}

.search__icon {
    width: 24px;
    height: 24px;
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    caret-color: var(--clr-primary);
    font-family: var(--ff-space-mono);
    font-weight: 400;
    font-size: 1.125rem;
}

.search__input::placeholder {
    font-family: var(--ff-space-mono);
    font-weight: 400;
    font-size: 1.125rem;
}

.search__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--ff-space-mono);
    font-weight: 700;
    border-radius: 10px;
    width: 106px;
    height: 50px;
    background-color: var(--clr-primary);
    color: white;

    cursor: pointer;
}

.search__btn:hover {
    background-color: var(--clr-primary-active);
}

/* card */

.card {
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--clr-bg-2);
    font-family: var(--ff-space-mono);
    padding: 3rem;
    display: grid;
    width: 730px;
    grid-template-columns: 154px 1fr;
    grid-template-rows: 5rem 3.5rem 7.5rem 5rem;
}

.card__thumbnail {
    background-color: red;
    width: 117px;
    height: 117px;
    border-radius: 50%;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.card__header {
    display: flex;
    justify-content: space-between;
}

.card__title {
    font-weight: 700;
    font-size: 1.625rem;
    color: var(--clr-font-color-3);
    line-height: 39px;
}

.card__tag {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--clr-primary);
}

.card__date {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    color: var(--clr-font-color-1);
}

.card__bio {
    font-size: 0.9375rem;
    color: var(--clr-font-color-1);
    line-height: 1.5625rem;
}

.card__data-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    height: 85px;
    background-color: var(--clr-bg-1);
}

.card__data-title {
    font-size: 0.8125rem;
    color: var(--clr-font-color-1);
    line-height: 1.25rem;
}

.card__data-number {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 2rem;
}

.card__icon-section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.link {
    display: flex;
    width: 50%;
    font-size: 15px;
    color: var(--clr-font-color-1);
    cursor: pointer;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-disabled {
    opacity: 0.5;
    cursor: auto;
}

.icon-location {
    background-image: url('./assets/icon-location.svg');
}

.icon-twitter {
    background-image: url('./assets/icon-twitter.svg');
}

.icon-web {
    background-image: url('./assets/icon-website.svg');
}

.icon-company {
    background-image: url('./assets/icon-company.svg');
}

/* mix */

.header__search {
    display: flex;
    margin-top: 2.25rem;
}

.search__icon__input {
    margin: 0 1.375rem;
}

.search__card {
    margin-top: 1.5rem;
}

.icon__icon-title {
    margin-left: 1rem;
}

@media screen and (min-width: 611px) and (max-width: 760px) {

    .header,
    .search {
        width: 573px;
    }

    .card {
        width: 573px;
        padding: 40px;
        grid-template-rows: 7.5rem 4rem 7.5rem 5rem;
    }

    .card__thumbnail {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .card__bio {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .card__data-section {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .card__icon-section {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .card__header {
        display: block;
        justify-content: none;
    }
}

@media screen and (max-width: 610px) {

    .header,
    .search {
        width: 327px;
    }

    .card {
        width: 327px;
        padding: 32px 24px;
        grid-template-columns: 89px 1fr;
        grid-template-rows: 7.5rem 4rem 7.5rem 8rem;
    }

    .card__thumbnail {
        width: 70px;
        height: 70px;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .card__thumbnail {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .card__bio {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .card__data-section {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .card__icon-section {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .search__card {
        margin-top: 1rem;
    }

    .card__header {
        display: block;
        justify-content: none;
    }

    .link {
        width: 100%;
    }
}